body, html {
    height: 100%;
    margin: 0;
}
::placeholder {
    color: #bfbfbf;
    font-size: 18px;
}
input:focus {
    outline: none;
    border-bottom-width: 1.5px;
    border-bottom-color: white;
}
.container {
    height: 100%;
    background-position: center;
    background-size: cover;
}
.main {
    width: 400px;
    height: 500px;
    background: #ffffff;
    opacity: 0.1;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -250px 0px 0px -200px;
}
.welcome {
    width: 200px;
    height: 50px;
    font-family: Trebuchet MS;
    font-size: 50px;
    color: white;
    position: relative;
    left: 45%;
    top: 20%;
}
.credentials {
    color: white;
    position: absolute;
    left: 42%;
    top: 40%;
    font-size: 20px;
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 1px;
    border-bottom-color: #bfbfbf;
}
#psswrd {
    top: 49%;
}
.loginbutton {
    position: absolute;
    left: 48%;
    top: 60%;
    font-size: 16px;
    color: white;
    background-color: #0006b5;
    padding: 6px 12px 6px 12px;
    border: 0;
    border-radius: 4px;
}
button:hover {
    background-color: #0006b5;
    cursor: pointer;
}
button:active {
    background-color: #0006b5;
}
button:focus {
    outline: none;
}
b:hover {
    text-decoration: underline;
    text-decoration-color: color:#648ab4;
    cursor: pointer;
}
.link{
    color: #0006b5;
    text-decoration: none;
}
.link:hover{
    color: #0006b5;
}
